* {
    box-sizing: border-box;
}

.modal-container {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    border-radius: 25px;
    padding: 5px;
    min-width: 478px;
    min-height: 678px;
    max-width: 478px;
    max-height: 678px;
    opacity: 0;
    pointer-events: none; /* lets us click things while pop-up is hidden*/
    transition: opacity 0.35s ease;
    z-index: 2;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.overlay {
    height: 450px;
    width: 478px;
    margin-bottom: 28px;
    z-index: 4;
}

.modal {
    background-color: #a56fd7;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    border-radius: 5px;
    padding: 30px 20px;
    width: 100%;
    max-width: 100%;
    height: 300px;
    text-align: center;
    border-radius: 18px;
    color: white;
    z-index: 3;
}

.modal h1 {
    margin: 0;
}

.modal > img {
    float: left;
    height: 100%;
    right:0%;
    margin-right: 0%;
    padding-right: 0%;
}

ul {
    list-style-position: inside;
    text-align: left;
    padding-left: 0px;
  }
  

#juiceIngredients {
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    float:left;
    margin-top: -10px;
    margin-left: 10px;
    padding: 6px;
    padding-top: 0px;
}

#info {
    float: right;
}

#juicePrice {
    font-size: 25px;
    font-weight: 500px;
}

#close {
    background-color: transparent;
    border: none;
}
#close img {
    width: 2.5rem;
    margin-top: 40%;
}

#confirm {
    background-color: white;
    border-radius:18px;
    border: none;
    width: 80%;
    margin-top: 0%;
    display: inline-block;
}

#red-x {
    height:48%;
    background-color: #cc3232;
    border-radius:18px;
    border: none;
    margin-top: 10%;
    float: right;
}

#red-x img {
    height: 60px;
    border: none;
}

a {
    text-decoration: none;
}