/* CSS */

.drink-holder {
    overflow-y: auto;
    display: block;
    padding-top: 0.5rem;
    text-align: center;
    flex-wrap: nowrap;
}

.drink-holder-2 {
    overflow-y: auto;
    align-content: center;
    padding: 1rem;
    padding-top: 0.25rem;
}

.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 12rem;
  width: 10rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1em;
}

.button-36 img {
  height: 5rem;
  width: 5rem;
}

.button-36 h3 {
  /*background-color: #2a292965;*/
  border-radius: 4rem;
  position: sticky;
  bottom: 210%;
  margin-top: 10%; /* changed from 0 to 10% */
  width: 100%;
  align-self: center;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.button-36 p {
  top: 0%;
  padding-top: 0%;
  margin-top: 0%;
  font-size: 12px;
}

.redButton {
  background-image: linear-gradient(152.88deg, #dc3c2a 9.16%, #bd2318 64.72%);
}

.greenButton {
  background-image: linear-gradient(92.88deg, #A8C13F 9.16%, #a6c040 43.89%, #a9c246 64.72%);
}

.yellowButton {
  background-image: linear-gradient(182.88deg, #b1d424 9.16%, #d0d319 64.72%);
}

.orangeButton {
  background-image: linear-gradient(12.88deg, #e84716 9.16%, #f25201 64.72%);
}

.purpleButton {
  background-image: linear-gradient(12.88deg, #7705b4 9.16%, #cb1dce 64.72%);
}

.bluishButton {
  background-image: linear-gradient(290.88deg, #6d13bb 9.16%, #4c27e0 64.72%);
}

/* Commented out by maggie to fix button positioning in predesigned menu
/*@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }*/ 

.button-spec-red {
  background-image: linear-gradient(92.88deg, #E24545 9.16%, #e24747 43.89%, #e24b4b 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  width: 6.5rem;
  padding: 0rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1rem;
}

.button-spec-red:hover {
  box-shadow: rgba(226, 69, 69, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.specRed {
  background-image: linear-gradient(92.88deg, #e45858 9.16%, #e24747 43.89%, #d33a3a 64.72%);
  border-width: 3px;
  border-style: groove;
  border-color: #e24747;
  border-top: none;
  border-left: none;
}

.button-spec-orange {
  background-image: linear-gradient(92.88deg, #e2a345 9.16%, #e2a447 43.89%, #e2a64b 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  width: 6.5rem;
  padding: 0rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1rem;
}

.button-spec-orange:hover {
  box-shadow: rgba(226, 163, 69, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.specOrange {
  background-image: linear-gradient(92.88deg, #dfac60 9.16%, #e2a447 43.89%, #df9c38 64.72%);
  border-width: 3px;
  border-style: groove;
  border-color: #e2a447;
  border-top: none;
  border-left: none;
}

.button-spec-green {
  background-image: linear-gradient(92.88deg, #A8C13F 9.16%, #a6c040 43.89%, #a9c246 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  width: 6.5rem;
  padding: 0rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1rem;
}

.button-spec-green:hover {
  box-shadow: rgba(168, 193, 63, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.specGreen {
  background-image: linear-gradient(92.88deg, #A8C13F 9.16%, #a6c040 43.89%, #a3bd3c 64.72%);
  border-width: 3px;
  border-style: groove;
  border-color: #a6c040;
  border-top: none;
  border-left: none;
}

.button-spec-blue {
  background-image: linear-gradient(92.88deg, #8F6FD7 9.16%, #8f72d4 43.89%, #9479d4 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  width: 6.5rem;
  padding: 0rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1rem;
}

.button-spec-blue:hover {
  box-shadow: rgba(143, 111, 215, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.specBlue {
  background-image: linear-gradient(92.88deg, #997fd6 9.16%, #8f72d4 43.89%, #886acf 64.72%);
  border-width: 3px;
  border-style: groove;
  border-color: #8f72d4;
  border-top: none;
  border-left: none;
}

.button-spec-pink {
  background-image: linear-gradient(92.88deg, #EA6AAA 9.16%, #eb6eac 43.89%, #eb76b1 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  width: 6.5rem;
  padding: 0rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1rem;
}

.button-spec-pink:hover {
  box-shadow: rgba(234, 106, 170, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.specPink {
  background-image: linear-gradient(92.88deg, #e67eb2 9.16%, #eb6eac 43.89%, #e767a7 64.72%);
  border-width: 3px;
  border-style: groove;
  border-color: #eb6eac;
  border-top: none;
  border-left: none;
}

h1{
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  text-align: center;
}