/* Ensure proper sizing */
* {
    box-sizing: border-box;
  }

body {
    background-color: Gainsboro;
  }

/* flex-container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the interface on the screen */ 
    align-items: center;
  }

/* Main content */
.main {
    display: flex;
    flex-basis: 70vh;
    align-items: center;
    height: 97vh;
    background-color: white; /* White background color */
    border: 2px solid #2d2d2d; /* Black border */
    border-radius: 25px;
    flex-direction:column;
    padding: 5px;
    min-width:480px;
    min-height: 680px;
    max-width: 480px;
    max-height: 680px;
    background-image: url("./img/JUVA_Background_Faded.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: contain;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 100px;
  }

/* Home Page Button CSS */
.button-20 {
    appearance: button;
    background-color: #343088;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #343088;
    border-radius: 1rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2;
    max-height: 59.5px;
    margin: 30px;
    padding: .5rem 1rem;
    text-align:center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 275px;
    max-width: 275px;
    margin-left: 85px;
    position: relative;
  }
  
  .button-20:focus:not(:focus-visible),
  .button-20:focus {
    outline: 0;
  }
  
  .button-20:hover {
    background-color: #4c47ad;
    border-color: #4c47ad;
  }
  
  .button-20:focus {
    background-color: #413FC5;
    border-color: #3E3BBA;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
  }
  
  .button-20:active {
    background-color: #3E3BBA;
    background-image: none;
    border-color: #3A38AE;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
  }
  
  .button-20:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
  }
  
  .button-20:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
  }

  .juiceIcons {
    width: 95px;
    height: auto;
    position: absolute;
    right: 230px;
    bottom: -13px;
    z-index: 1;
    margin: 0px;
    padding: 0px;
  }